# Tell Git to ignore these folders:
.cache/
.parcel-cache/
archived/
attributions/
dist/
node_modules/

# Tell Git to ignore these files:
.DS_store
.htaccess
.htpasswd
.parcelrc
audio/appletone.mp3
pdfs/ALIAS_on_website