aside.larrymg_me--sidebar {
  padding: 0px 10px;
  background: #e8e8e8;
}

div.lets_connect {
  align-self: flex-end;
  margin-top: 25px;
  padding: 0px 2px;
}

/* #region Sidebar -- Media Queries */

@media screen and (min-width: 0px) and (max-width: 575px) {
  aside.larrymg_me--sidebar {
    display: none;
  }
}
/* #endregion Sidebar -- Media Queries */
