div.code_block {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  border: 1px solid darkgrey;
  padding: 15px;
  background: white;
  font-family: "resume_monospace", monospace;
  font-size: 1.1rem;
}

div.code_block span {
  display: block;
}

div.code_block span.one_tab {
  padding-left: 8%;
}

div.code_block span.two_tab {
  padding-left: 16%;
}

div.code_block span.three_tab {
  padding-left: 24%;
}

div.code_block span.four_tab {
  padding-left: 32%;
}

div.code_block span:first-of-type,
div.code_block span:last-of-type {
  padding-left: 0;
}
