html {
  scroll-behavior: smooth;
}

body {
  background: #feffd0;
  font-family: "main_text", sans-serif;
  color: black;
}

/* #region Base Hyperlinks */

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: blue;
}

/* Make sure that clickable spans embedded within links are
      underlined. */

a > span.clean_break_on_wrap {
  text-decoration: underline;
} 

/* @endregion */
