@font-face {
  font-family: "main_text";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/KulimPark-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "cursive_flourish";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/helvetia-verbundene.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "resume_monospace";
  font-style: normal;
  src: url("../fonts/MonofurForPowerLine.ttf") format("truetype");
  font-display: swap;
}
