/* #region Card Sticky Headers & Totals */

div.card_count {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 0 auto;
  border-bottom: 3px dotted black;
  padding-bottom: 5px;
  background: #feffd0;
}

/* #endregion Card Sticky Headers & Totals */

/* #region Cards */

div.card_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin: 3rem 0;
}

div.card {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: auto auto auto;
  margin: 2vh 0;
  border: 1px dotted black;
  width: 55%;
  background-color: #ffffff;
}

div.card span.card_number,
div.card span.card_image {
  display: grid;
  place-items: center;
}

// div.card span.card_attribution {
//   justify-self: center;
//   align-self: center;
// }

div.card span.card_number {
  grid-column: 1 / 4;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  width: 35px;
  height: 35px;
  margin: 5px 0px;
  background: black;
  color: white;
  border-radius: 50%;
  font-size: 0.9rem;
}

div.card span.card_image {
  grid-column: 10 / 12;
  grid-row: 1;
}

div.card span.card_image img {
  max-width: 20px;
}

div.card span.card_attribution {
  grid-column: 15/21;
  grid-row: 1;
  text-align: right;
  width: 100%;
  padding-right: 15px;
  font-size: 0.95rem;
}

div.card p.card_text {
  grid-column: 1 / 21;
  grid-row: 2;
  justify-self: center;
  text-align: center;
  max-width: 30ch;
  margin-top: 25px;
  margin-bottom: 45px;
  border-radius: 15px;
  padding: 25px;
  // background: rgba(173, 216, 230, 0.5);
  font-size: 1.25rem;
  font-weight: 700;
}

div.card div.card_justifications span,
div.card div.card_concrete_applications span {
  display: grid;
  place-items: center;
}

div.card div.card_justifications li,
div.card div.card_concrete_applications li {
  margin-top: 2.5px;
  max-width: 45ch;
  font-size: 0.75rem;
}

div.card div.card_justifications li:first-of-type,
div.card div.card_concrete_applications li:first-of-type {
  margin-top: 0px;
}

div.card div.card_justifications {
  grid-column: 1/10;
  grid-row: 3;
}

div.card div.card_concrete_applications,
div.card div.card_concrete_applications {
  grid-column: 13/21;
  grid-row: 3;
}

/* #endregion Cards */

/* #region CRs&As -- Coding Assumptions Only */

// div.coding_assumption span.no_icons {
//   padding-top: 10px;
//   margin-left: -10px;
// }

/* #endregion CRs&As -- Coding Assumptions Only */

/* #region Media Queries */

@media screen and (min-width: 0px) and (max-width: 768px) {
  main#coding_rules_and_assumptions div.card_count {
    width: 100%;
  }

  main#coding_rules_and_assumptions h2 {
    font-size: 2rem;
  }

  div.card_container div.card {
    width: 95%;
  }
}

@media screen and (min-width: 0px) and (max-width: 575px) {
  div.card span.card_attribution {
    font-size: 0.75rem;
  }

  div.card span.card_attribution span.card_source {
    display: block;
  }

  div.card div.card_justifications {
    grid-column: 1/10;
  }

  div.card div.card_concrete_applications {
    grid-column: 11/21;
  }
}

/* #endregion Media Queries */

// to do: improve nav!

// main#coding_rules_and_assumptions div#coding_rules-header_and_home_link h2,
// main#coding_rules_and_assumptions
//   div#coding_assumptions-header_and_home_link
//   h2 {
//   font-size: 3rem;
// }

// main#coding_rules_and_assumptions div#coding_rules-header_and_home_link i,
// main#coding_rules_and_assumptions
//   div#coding_assumptions-header_and_home_link
//   i {
//   padding-top: 10px;
//   padding-bottom: 5px;
//   color: blue;
//   font-size: 3rem;
// }
