html {
  scroll-padding: var(--site_wide--scroll_padding);
}

main#larrymg_me_index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* #region Sidebar */

/* #region Sidebar -- Let's Connect */

/* Note: The "Let's Connect" part of the sidebar is a COMPONENT shared across several webpages.  
      To view its code, see "sidebar.scss" in scss -- components folder. */

/* #endregion */

/* #region Sidebar -- H2 Elements For All "Weekly" Sections */

/* Note: The <h2> elements that title each "Weekly" section in the main page's sidebar are COMPONENTS shared 
    across several webpages.  To view this code, see "sidebar.scss" in scss -- components folder. */

/* #endregion -- H2 Elements For All "Weekly" Sections */

/* #region What I'm Learning This Week, What I'm Reading This Week, & What I'm Watching This Week Sections */

div.what_im_learning ul,
div.what_im_reading ul,
div.what_im_watching ul {
  font-family: "main_text", sans-serif;
  padding-left: 5px;
}
div.what_im_learning li,
div.what_im_reading li,
div.what_im_watching li {
  list-style: none;
  list-style-position: inside;
  padding: 0px 20px 5px 20px;
  background: url("../images/my_work/resume/bullets/square-shadow.svg")
    no-repeat scroll 0 0 transparent;
  background-size: 6px 6px;
  /* Nudges square-shadow.svg down to the baseline of each li span text. */
  background-position-y: 6px;
}

/* #endregion What I'm Learning This Week, What I'm Reading This Week, & What I'm Watching This Week Sections */

/* #region Sidebar -- This Week's Hot Track & This Week's Hot Laugh */

div.this_weeks_hot_track span.clean_break_on_wrap,
div.this_weeks_hot_laugh span.clean_break_on_wrap {
  /* Add "back" underline to cleanly broken spans for stylistic consistency. */
  text-decoration: underline;
}

/* #endregion Sidebar -- This Week's Hot Track & This Week's Hot Laugh */

/* #region Sidebar -- What I'm Watching This Week */

div.what_im_watching li {
  /* Assumes everything I'm watching would require italicization. */
  font-style: italic;
}

/* #endregion Sidebar -- What I'm Watching This Week */

/* #region Sidebar -- This Week's Hot Track */

div.this_weeks_hot_track {
  display: grid;
}

div.this_weeks_hot_track iframe {
  /* Embedded Spotify player overflows container at max-width: 100%? */
  place-self: center;
  max-width: 100%;
  max-height: 75px;
}

div.this_weeks_hot_track iframe.youtube_iframe {
  max-height: 400px;
}

/* #endregion - Sidebar -- This Week's Hot Track*/

/* #region Sidebar -- This Week's Hot Laugh */

div.this_weeks_hot_laugh iframe,
div.this_weeks_hot_laugh video,
div.this_weeks_hot_laugh img {
  max-width: 100%;
  max-height: 200px;
  border: 1px solid gray;
}

/* #endregion */

/* #endregion - Sidebar */

/* #region Content */

/* Note: div.larrymg_me--content si a COMPONENT shared across several webpages.  
      To view its code, see "content.scss" in scss -- components folder. */

/* #region Content -- Block Quote */

/* Note: Content -- Block Quotes are a COMPONENT shared across several webpages.  
      To view its code, see "content.scss" in scss -- components folder. */

/* #endregion Content -- Block Quote */

/* #region Content -- Hello  */

div.larrymg_me_index--hello {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80%;
}

div.larrymg_me_index--hello h1 {
  margin: 10px 0px;
}

div.larrymg_me_index--hello img {
  margin: 0 auto;
  width: 30%;
  min-width: 218px;
  height: 30%;
  min-height: 218px;
}

div.larrymg_me_index--hello p:first-of-type {
  font-size: 2.25rem;
  margin-bottom: 10px;
}

div.larrymg_me_index--hello a.test_performance {
  display: inline-block;
  text-align: center;
  align-self: center;
  margin: 25px 0px;
  border: 1px dotted black;
  border-radius: 15px;
  padding: 5px;
  transition: background 0.5s ease-in-out;
}
div.larrymg_me_index--hello a.test_performance p {
  max-width: 25ch;
  font-size: 0.75rem;
}

div.larrymg_me_index--hello a.test_performance:hover {
  background: black;
  color: #fff9fb;
}

/* #endregion Content - - Hello */

/* #region Content -- Intro */

div.larrymg_me_index--intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-indent: 3%;
  width: 60%;
  max-width: 55ch;
}

div.larrymg_me_index--intro p {
  margin: 10px 0px;
}

div.larrymg_me_index--intro p:nth-of-type(2) {
  text-align: center;
  /* Remove text-indent to prevent weird sizing issues with p element. */
  text-indent: 0;
  margin: 20px 0px;
  font-size: 1.75rem;
}

/* #endregion *?


/* #endregion Content -- Hello & Intro */

/* #endregion Content */

/* #region Content -- Explore */

div.larrymg_me--content nav.explore_concise {
  width: 80%;
  max-width: 1102px;
  margin: 50px 0px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  background: white;
}

div.larrymg_me--content
  nav.explore_concise
  div.concise_menu_instructions-nav_gray_block_and_text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid #cecece;
}

div.concise_menu_instructions-nav_gray_block_and_text
  h2.concise_menu_instructions-nav_gray_block {
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  background: rgba(206, 206, 206, 0.45);
  font-size: 1.25rem;
  width: 80%;
}

div.concise_menu_instructions-nav_gray_block_and_text
  div.concise_menu_instructions-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.concise_menu_instructions-nav_gray_block_and_text
  div.concise_menu_instructions-text
  p {
  max-width: 55ch;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.concise_menu_instructions-nav_gray_block_and_text
  div.concise_menu_instructions-text
  p:first-of-type {
  text-align: center;
  margin-top: 20px;
}

div.concise_menu_instructions-nav_gray_block_and_text
  div.concise_menu_instructions-text
  p:last-of-type {
  margin-bottom: 20px;
}

div.larrymg_me--content nav.explore_concise div.explore_link_roll {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 100%;
}

div.larrymg_me--content nav.explore_concise div.explore_link_roll a {
  padding: 15px;
}

div.larrymg_me--content nav.explore_verbose {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* width: 90%;
  max-width: 1102px; */
  width: clamp(90%, 90%, 1102px);
  margin: 50px 0px;
  /* To prevent scrolling to right. */
  /* overflow: hidden; */
}

div.explore_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 225px;
  border: 1px solid black;
  padding: 8px;
  background: #cecece;
  transition: all 0.5s ease-in-out;
}

div.explore_item:hover {
  background: #fff9fb;
  transform: scale(1.045);
}

div.explore_item h3 {
  /* Use flex-grow to produce a semi-centered alignment of card text
      across cards. */
  flex-grow: 1;
  text-align: center;
  /* Bottom margin ensures a minimal amount of space between h2 &
      proceeding p element on cards with more text. */
  margin-bottom: 3%;
  color: #252627;
}

div.explore_item p {
  /* Use flex-grow to ensure chenvron icons are flush with bottom of card, 
  regardless of how much text is in indivudal cards. */
  flex-grow: 1;
  /* Prevents overly long lines on smaller screens when cards explore_item divs
      stack one on top of the other. */
  max-width: 40ch;
  padding: 0px 10px;
}

div.explore_item p + a {
  /* Styles chevrons at bottom of cards that link back to nav menu. */
  text-decoration: none;
  /* Use adjacent sibling selector to prevent resizing of linked h2 elements. */
  font-size: 1.25rem;
  transition: transform 0.25s linear;
}

div.explore_item a:hover,
div.explore_item a:focus {
  /* Move chevrons at bottom of cards up slightly & enalrge on hover. */
  transform: translateY(-5px) scale(1.2);
}

div#my_work {
  position: relative;
}

p#my_work-current_job_status {
  position: absolute;
  bottom: 10px;
  right: 8px;
  display: inline-block;
  border-radius: 15px;
  padding: 4px;
  background: white;
  font-size: 0.85rem;
  font-weight: 700;
  color: black;
  transition: all 0.25s ease-in-out;
}

div.explore_item:hover p#my_work-current_job_status {
  background: blue;
  color: white;
}

/* #endregion Content -- Explore */

/* #endregion Content */

/* #region Media Queries */
@media screen and (min-width: 0px) and (max-width: 575px) {
  div.larrymg_me--grid_container--sidebar_and_content {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    place-items: center;
  }

  aside.larrymg_me--sidebar {
    display: none;
  }

  div.larrymg_me--content {
    padding: 0px 5px;
  }

  div.larrymg_me--content div.block_quotes {
    max-width: 90%;
    margin-top: 10px;
  }

  div.larrymg_me_index--hello {
    max-width: 90%;
  }

  div.larrymg_me_index--hello p:first-of-type {
    font-size: 2.25rem;
  }

  div.larrymg_me_index--hello img {
    margin: 0 auto;
    width: 80%;
    height: 80%;
  }

  div.larrymg_me_index--intro p:nth-of-type(2) {
    font-size: 1.5rem;
  }

  p#my_work-current_job_status {
    display: none;
  }
}

@media screen and (min-width: 0px) and (max-width: 1069px) {
  /* Tweak layout of Conciuse Menu Instructions on flex-wrap. */
  p#explore_concise_menu-instructions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 5px solid #cecece;
    padding-bottom: 15px;
  }

  p#explore_concise_menu-instructions span:first-of-type {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 0px) and (max-width: 1075px) {
  div.this_weeks_hot_track iframe {
    /* Embedded Spotify player overflows container at max-width: 100%? */
    max-width: 75%;
  }
}

/* #endregion Media Queries */
