main#my_web_dev_journey {
}

/* #region Sidebar */

aside ul {
  margin: 0;
  padding: 0;
}

div#tldr {
  margin-top: 100px;
}

/* #endregion */

/* #region Content */

main#my_web_dev_journey div#container--home_and_header {
  position: sticky;
  top: 0;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-bottom: 3px dotted black;
  background: #feffd0;
  z-index: 2;
}

main#my_web_dev_journey div#container--home_and_header i {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 3.052rem;
}

main#my_web_dev_journey div.larrymg_me--content iframe {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

div.container--iframe_and_caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

span#iframe_journey_vaporwave_caption {
  margin-top: 10px;
  font-family: cursive_flourish, cursive;
  font-size: 1.25rem;
  font-weight: 600;
  color: #b9b9b9;
}

div.container--journey_text {
  display: grid;
  place-self: center;
  grid-template-columns: 1fr 55ch 1.25fr;
  grid-template-columns: 55ch 1fr;
  grid-template-rows: repeat(auto, 1fr);
  gap: 2.5rem;
  width: 90%;
}

div.container--journey_text ul {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  /* This value creates a "gap" between text & links by pushing links all the way to the right 
        of their respective columns. */
  justify-self: right;
  /* This value controls the size of the minimum "gap" between text & links. */
  min-width: 75%;
}

div.container--journey_text li {
  display: flex;
  list-style: none;
  list-style-position: inside;
  /* This value controls the maximum size of the link text's lines. */
  max-width: 35ch;
  // Add extra padding to bottom of links.
  padding: 0px 20px 10px 20px;
  // background: url("../images/my_work/resume/bullets/square-shadow.svg")
  //   no-repeat scroll 0 0 transparent;
  // background-size: 6px 6px;
  /* Nudges square-shadow.svg down to the baseline of each li span text. */
  // background-position-y: 6px;
  font-size: 0.85rem;
}

div.container--journey_text li i {
  align-self: center;
  font-size: 1.1rem;
  color: darkgrey;
  transform: translateX(-20px);
}

div.container--journey_text ul#moonrocks {
  // Align @TheMooninites tweet with "Nerd Alert" picture.
  align-self: flex-end;
}

div.container--journey_text p {
  max-width: 55ch;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
}

div.container--journey_text p.paragraph_emphasis {
  max-width: 45ch;
  font-size: 1.25rem;
  font-weight: 700;
}

div.container--journey_text p.grid_text_center {
  place-self: center;
}

// div.container--journey_text--1 {
//   grid-column: 1 / 3;
//   background: green;
// }

div.container--journey_text .journey_text {
  grid-column: 1 / 2;
}

div.container--journey_text div.journey_text {
  display: flex;
  flex-direction: column;
}

figure.journey_figure {
  grid-column: 1 / 2;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 223px;
  max-width: 350px;
  margin-top: 30px;
  border: 2px solid darkgrey;
  padding: 15px;
  background: #e8e8e8;
  opacity: 0.9;
  box-shadow: 2px 1px 1px 1px black;
}

figure.journey_figure img {
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 10px;
  background: white;
}

figure.journey_figure figcaption {
  display: grid;
  place-items: center;
  // font-style: italic;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  // Currently loaded into CSS via Google link.
  // Need to go back and host this font locally if I decided to use it!
  font-family: "Kalam", cursive;
  font-size: 0.95rem;
  font-size: 15px;
  font-weight: 500;
  background: white;
  border: 1px solid darkgrey;
  // transform: rotate(-5deg);
}

figure#reading_and_notetaking_system span:first-of-type {
  margin-bottom: 15px;
}

figure#reading_and_notetaking_system span:nth-of-type(2) {
  font-size: 0.85rem;
}

/* #endregion */
