main#my_web_dev_journey {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* #region Sidebar */

/* #endregion */

/* #region Content */

/* #endregion */
