/* #region Resume -- Custom Variables */
:root {
  /* #region Widths */
  --width__container--header_and_columns: 95%;
  --width__container--resume_columns: 100%;
  --max_width__container--resume-col_1: 45%;
  --max_width__container--resume-col_2: 50%;
  --min_width__container--resume-col_1: 432px;
  --min_width__container--resume-col_2: 432px;
  --width__resume_section: 100%;
  --width__resume_section_h2: 100%;
  --max_width__resume_section_span: 65ch;
  --max-width__job_titles: 50ch;
  --max-width__employer: 50ch;
  --max_width_resume_section_ul: 100%;
  --max_width_resume_section_li: 65ch;
  /* #endregion Widths */
  /* #region Margins */
  --margin__container--header_and_columns: 50px auto;
  --margin__resume_section: 0px 0px 30px 0px;
  --margin__objective_h2: 0px 0px 0px 0px;
  --margin__skills_images: 0 10px 0px 0px;
  /* #endregion Margins */
  /* #region Padding */
  --padding__objective_p: 25px;
  /* #endregion Padding */
  /* #region Font Sizes */
  --font_size__header_name: 3.25rem;
  --font_size__bullets-col_1: 1rem;
  --font_size__bullets-col_2: 1.15rem;
  --font_size__stack: 1.1rem;
  --font_size__megaphone: 1.05rem;
  --font_size__col_1_titles: 1.25rem;
  --font_size__objective: 1.3rem;
  --font_size__job_titles: 1.5rem;
  --font_size__employer: 1.1rem;
  --font_size__side_hustle: 1.25rem;
  --font_size__dates: 0.875rem;
  --font_size__section_titles: 2rem;
  /* #endregion Font Sizes */
  /* #region Font Weights */
  --font_weight__objective: 400;
  --font_weight__job_titles: 700;
  --font_weight__education_titles: 700;
  --font_weight__skills_titles: 700;
  --font_weight__employer: 500;
  --font_weight__project_and_side_hustles_titles: 700;
  --font_weight__courses_and_certifications_titles: 700;
  --font_weight__interests_and_hobbies_titles: 700;
  --font_weight__dates: 700;
  --font_weight__bullets: 600;
  --font_weight__stack: 700;
  --font_weight__megaphone: 600;
  /* #endregion Font Weights */
  /* #region Images */
  --images__skills_icons_width: 25px;
  --images__skills_icons_height: 25px;
  /* #endregion Images */
  /* #region Colors */
  --white: #fff;
  --black: #000;
  --red: #ff0000;
  --yellow: #feffd0;
  --light_grey: #cfcfcf;
  --dark_grey: #a9a9a9;
  --darkest_grey: #828282;
  /* #endregion Colors */
  --small_phone_scaldown: 0.7;
}
/* #endregion Resume -- Custom Variables */

/* #Region Resume -- Fonts */

/* Commented out locally-hosted Century Gothic @font-faces after
    noticing they didn't appear to be working on website.  Replaced
    with a sensible font-stack aimed at leveraging fonts already
    installed on a user's system.  

    At some point, I may want to consider locally hosting Didact Gothic
      (available through Google Fonts here: 
      https://fonts.google.com/specimen/Didact+Gothic?query=Didact)
      at top of this stack. */

/* @font-face {
  font-family: "resume_sans_serif";
  font-style: normal;
  src: url("../fonts/CenturyGothic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "resume_sans_serif";
  font-weight: bold;
  src: url("../fonts/CenturyGothicBold.ttf") format("truetype");
  font-display: swap;
} */

/* Not sure why, but when I uncommented the commented code below, 
    the browser renders all resume_sans_serif fonts in italics, 
    regardless of of an element's declared font-style? */

/* @font-face {
  font-family: "resume_sans_serif";
  font-weight: bold;
  font-style: italic, oblique;
  src: url("../fonts/CenturyGothicBoldItalic.ttf") format("truetype");
  font-display: swap;
} */

/* @font-face {
  font-family: "resume_sans_serif";
  font-style: italic, oblique;
  src: url("../fonts/CenturyGothicItalic.ttf") format("truetype");
  font-display: swap;
} */

@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;400;500;700&display=swap");

/* #endregion */

/* #region Resume -- All Sections */

section.resume_section {
  width: var(--width__resume_section);
  margin: var(--margin__resume_section);
}

/* #region Resume -- All Sections -- Flex Containers */
div.resume--container--header_and_columns {
  display: flex;
  flex-direction: column;
  width: var(--width__container--header_and_columns);
  /* Set max-width of 1600px so resume doesn't grow to ridiculous sizes on very large screens. */
  max-width: 1600px;
  border: 1px solid var(--black);
  box-shadow: 2px 2px 2px black;
  margin: var(--margin__container--header_and_columns);
  background: var(--white);
}

div.container--resume_columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: var(--width__container--resume_columns);
  justify-content: space-between;
}

div.container--resume-col_1,
div.container--resume-col_2 {
  display: flex;
  flex-direction: column;
  /* Prevents top of each resume column from being flush with header's thick bottom black border. */
  margin-top: 20px;
}

div.container--resume-col_1 {
  /* Minimum width is an absolute pixel value that prevents column from shrinking & contained text
      from shrinking to illegibly small size. */
  min-width: var(--min_width__container--resume-col_1);
  /* This value should be equal to or less than Column 2's width. */
  max-width: var(--max_width__container--resume-col_1);
  /* Apply padding to left-hand side of Column 1 so it's not flush with container's border. */
  padding-left: 10px;
}

div.container--resume-col_2 {
  /* Minimum width is an absolute pixel value that prevents column from shrinking & contained text
      from shrinking to illegibly small size. */
  min-width: var(--min_width__container--resume-col_2);
  /* This value should be equal to or greater than Column 2's width. */
  max-width: var(--max_width__container--resume-col_2);
  /* Add flex-grow value of "1" to ensure column grows to max-width. */
  flex-grow: 1;
}

/* #endregion */

/* #region Resume -- All Sections -- Typography */

section.resume_section h2 {
  width: var(--width__resume_section_h2);
  margin-bottom: 10px;
  background: red;
  font-family: "Gothic A1", "Century Gothic", “Apple Gothic”, AppleGothic,
    “URW Gothic L”, “Avant Garde”, Futura, sans-serif;
  font-size: var(--font_size__section_titles);
  font-weight: 800;
}

section.resume_section span {
  max-width: var(--max_width__resume_section_span);
}
section.resume_section h2 span {
  display: inline-block;
  margin-right: 15px;
  padding: 10px;
  background: black;
  color: white;
}

span.resume_dates {
  /* NOTE: This class is slightly modified in Column 2 -- Experience . */
  display: inline-block;
  font-family: "Gothic A1", "Century Gothic", “Apple Gothic”, AppleGothic,
    “URW Gothic L”, “Avant Garde”, Futura, sans-serif;
  /* font-size: calc(var(--font_size__dates) * 85%); */
  font-size: var(--font_size__dates);
  font-weight: var(--font_weight__dates);
  font-style: italic;
  color: var(--red);
  color: var(--black);
  color: var(--dark_grey);
  color: var(--darkest_grey);
  color: var(--light_grey);
  color: #4c4c4c;
  color: #262626;
}

img.stack ~ span,
img.megaphone ~ span {
  display: inline-block;
  font-family: "resume_monospace", monospace;
}

img.stack ~ span {
  font-size: var(--font_size__stack);
  font-weight: 800;
}

img.megaphone ~ span {
  font-size: var(--font_size__megaphone);
}

/* #endregion */

/* #region Resume -- All Sections -- Lists */

section.resume_section ul {
  max-width: var(--max_width_resume_section_ul);
}

section.resume_section li {
  display: flex;
  list-style: none;
  list-style-position: inside;
  max-width: var(--max_width_resume_section_li);
  /* Injects space at top & bottom of *all* list items for legibility */
  margin: 15px;
  padding: 0px 0px 0px 25px;
  background: url("../images/my_work/resume/bullets/square-shadow.svg")
    no-repeat scroll 0 0 transparent;
  background-size: 12px 12px;
  /* Nudges square-shadow.svg down to the baseline of each li span text. */
  background-position-y: 6px;
  font-family: "resume_monospace", monospace;
}

section.resume_section li span {
  padding: 0;
  margin: 0;
}

/* Remove list-styling for stack & megaphone list items. */
section.resume_section ul ul li {
  background: none;
  list-style: none;
}

/* #endregion */

/* #region Resume -- All Sections -- Links */

section.resume_section a:link {
  text-decoration: none;
}

section.resume_section a:visited {
  color: var(--red);
}

section.resume_section a:focus,
section.resume_section a:hover {
  text-decoration: underline dotted blue;
}

section.resume_section a:active {
  color: var(--yellow);
}

/* #endregion Resume -- All Sections -- Links */

/* #region Resume -- All Sections -- Components */

/* #region Resume Section With Bullets */

div.resume_section_with_bullets {
  margin-bottom: 15px;
  padding-left: 5px;
}

div.resume_section_with_bullets
  ul.resume_section_list
  li.resume_section_list_item {
  margin-bottom: 10px;
}

/* Style List-Within-List Stack & Megaphone Icons */
div.resume_section_with_bullets ul.resume_section_list ul img {
  height: 14px;
  width: 14px;
  margin-right: 10px;
}

/* #endregion Resume Section With Bullets */

/* #endregion */

/* #endregion Resume -- All Sections */

/* #region Resume -- Header */

header#resume_header {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  border-bottom: 5px solid black;
  padding-bottom: 15px;
  background: white;
}

header#resume_header a#download_pdf_link {
  /* position: absolute;
  top: 5px;
  right: 15px; */
  display: flex;
  justify-content: right;
}

header#resume_header img#download_pdf {
  width: 35px;
  height: 35px;
  margin-top: 10px;
  margin-right: 15px;
  opacity: 0.35;
  transition: opacity 0.5s ease-in-out;
}

header#resume_header img#download_pdf:hover {
  opacity: 1;
}

header#resume_header h1 {
  margin-top: 10px;
  font-family: "Gothic A1", "Century Gothic", “Apple Gothic”, AppleGothic,
    “URW Gothic L”, “Avant Garde”, Futura, sans-serif;
  font-size: var(--font_size__header_name);
}

header#resume_header div.header_contact_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

header#resume_header div.header_contact_info > * {
  width: 25%;
}

header#resume_header div.header_contact_info div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

header#resume_header div.header_contact_info div a:link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

header#resume_header div.header_contact_info div a:hover {
  /* Prevent defaulted dotted underline text from appearingunder contact info links on hover. */
  text-decoration: none;
  /* Enlarge head contact info links on hover. */
  transform: scale(1.2);
}

header#resume_header div.header_contact_info div img {
  width: 40px;
  height: 40px;
  padding-right: 10px;
}

/* #endregion Resume -- Header */

/* #region Resume -- Column 1 */

/* #region Resume -- Column 1 -- All Sections */

div.container--resume-col_1
  div.resume_section_with_bullets
  > span:first-of-type {
  /* Bold text (e.g. "MBA (Finance & Strategic Management)" & "Front-End Web Development"
      within individual resume sections (e.g. "Education" & "Skills". ) */
  display: block;
  font-size: var(--font_size__col_1_titles);
  font-weight: 700;
  font-family: "Gothic A1", "Century Gothic", “Apple Gothic”, AppleGothic,
    “URW Gothic L”, “Avant Garde”, Futura, sans-serif;
}

/* Scale down font size on non-Experience list items. */
div.container--resume-col_1 li.resume_section_list_item {
  font-size: var(--font_size__bullets-col_1);
}

div.resume_hover {
  position: relative;
  display: inline-block;
}

div.resume_hover img {
  width: 12px;
  height: 12px;
}

span.resume_hover_text {
  /* Note: top, bottom, left, & right values are *not* set using
        this general class.  Instead, a unique #id is added to all spans
        with a class of resume_hover_text and top, bottom, left, & right
        values are applied therein. */
  z-index: 1;
  position: absolute;
  max-width: none;
  width: 250px !important;
  border: 1px solid black;
  padding: 20px;
  background-color: #00ffff;
  font-family: resume_monospace, monospace !important;
  font-size: 14px !important;
  font-weight: 300 !important;
  color: var(--black);
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.resume_hover:hover .resume_hover_text {
  visibility: visible;
  opacity: 0.75;
}
/* #endregion */

/* #region Resume -- Column 1 -- Education, Skills, & Courses & Certifications */

section#education li.resume_section_list_item,
section#skills li.resume_section_list_item,
section#courses_and_certifications li.resume_section_list_item {
  background: none;
}

section#education ul,
section#skills ul,
section#courses_and_certifications ul {
  display: flex;
  flex-direction: column;
}

section#education li.resume_section_list_item,
section#skills li.resume_section_list_item,
section#courses_and_certifications li.resume_section_list_item {
  /* Override max-width (custom variable) set on all li's from :root. */
  max-width: none;
  padding-left: 0px;
}

section#education li span:nth-of-type(4),
section#skills li span:nth-of-type(3),
section#courses_and_certifications li span:nth-of-type(3) {
  text-align: right;
}

/* #endregion */

/* #region Resume -- Column 1 -- Skills & Courses & Certifications */

section#skills li span:first-of-type,
section#courses_and_certifications li span:first-of-type {
  width: 100%;
}

section#skills li span:nth-of-type(2),
section#courses_and_certifications li span:nth-of-type(2) {
  text-align: left;
  width: 50%;
}

section#skills li span:nth-of-type(3),
section#courses_and_certifications li span:nth-of-type(3) {
  width: 50%;
}

section#skills li.resume_section_list_item span:first-of-type,
section#courses_and_certifications
  li.resume_section_list_item
  span:first-of-type {
  display: block;
  font-size: var(--font_size__col_1_titles);
  font-weight: var(--font_weight__skills_titles);
  font-family: "Gothic A1", "Century Gothic", “Apple Gothic”, AppleGothic,
    “URW Gothic L”, “Avant Garde”, Futura, sans-serif;
}

/* #endregion Resume -- Column 1 -- Skills & Courses & Certifications */

/* #region Resume -- Column 1 -- Objective */

section#objective_wrapped h2,
section#objective_unwrapped h2 {
  margin: var(--margin__objective_h2);
}

section#objective_wrapped p,
section#objective_unwrapped p {
  display: block;
  padding: var(--padding__objective_p);
  background: var(--yellow);
  font-size: var(--font_size__objective);
  font-weight: var(--font_weight__objective);
  font-family: "Gothic A1", "Century Gothic", “Apple Gothic”, AppleGothic,
    “URW Gothic L”, “Avant Garde”, Futura, sans-serif;
}

section#objective_unwrapped p {
  margin-top: 10px;
}

section#objective_wrapped p {
  margin-top: 0px;
}

/* #endregion */

/* #region Resume -- Column 1 -- Education */

section#education li > * {
  width: 100%;
}

section#education li span:first-of-type {
  width: 50%;
}

section#education li span:nth-of-type(3) {
  text-align: right;
}

section#education li.resume_section_list_item span {
  line-height: 20px;
}

section#education li.resume_section_list_item span:first-of-type {
  display: block;
  font-size: var(--font_size__col_1_titles);
  font-weight: var(--font_weight__education_titles);
  font-family: "Gothic A1", "Century Gothic", “Apple Gothic”, AppleGothic,
    “URW Gothic L”, “Avant Garde”, Futura, sans-serif;
}

section#education li.resume_section_list_item span:nth-of-type(2),
section#education li.resume_section_list_item span:nth-of-type(3) {
  display: block;
}

section#education span.asterisk_top {
  display: inline-block !important;
  font-family: "resume_monospace", monospace !important;
  font-size: 15px !important;
  color: var(--darkest_grey);
  font-weight: 300 !important;
}

span#resume_hover_text--irish_studies {
  /* Positions Irish Studies hover text within its unique context. */
  top: -50px;
  left: -150px;
}

/* #endregion */

/* #region Resume -- Column 1 -- Skills */

section#skills li.resume_section_list_item span:nth-of-type(2),
section#skills li.resume_section_list_item span:nth-of-type(3) {
  display: block;
}

section#skills li.resume_section_list_item span:nth-of-type(2) {
  font-size: var(--font_weight__bullets);
}

section#skills li.resume_section_list_item span:nth-of-type(3) img {
  display: inline-block;
  width: var(--images__skills_icons_width);
  height: var(--images__skills_icons_height);
  margin: var(--margin__skills_images);
}

section#skills li {
  flex-wrap: wrap;
}

section#skills li span:first-of-type {
  width: 50%;
  text-align: left;
}

section#skills li span:nth-of-type(2) {
  text-align: left;
  width: 50%;
}

section#skills li span:nth-of-type(3) {
  max-width: none;
  width: 100%;
  /* Just a little bit of margin to allow the image & text to 'breath'.*/
  margin-top: 5px;
  text-align: left;
}

span.resume_section_list_item_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* #endregion */

/* #region Resume -- Column 1 -- Projects & Side Hustles */

section#projects_and_side_hustles span.side_hustle {
  display: inline-block;
  /* Use align-self to ensure project / side hustle title remains flush with solid border line when 
        dates wrap. */
  align-self: flex-end;
  font-family: "Gothic A1", "Century Gothic", “Apple Gothic”, AppleGothic,
    “URW Gothic L”, “Avant Garde”, Futura, sans-serif;
  font-size: var(--font_size__side_hustle);
  font-weight: var(--font_weight__project_and_side_hustles_titles);
}

section#projects_and_side_hustles span.resume_dates {
  text-align: right;
}

/* #endregion */

/* #region Resume -- Column 1 -- Courses & Certifications */

/* section#courses_and_certifications
  li.resume_section_list_item
  span:first-of-type {
  display: block;
  font-family: resume_sans_serif, sans-serif;
  font-size: var(--font_size__col_1_titles);
  font-weight: 700;
} */

/* section#courses_and_certifications
  li.resume_section_list_item
  span:nth-of-type(2) {
  display: block;
  font-family: resume_monospace, monospace;
  font-size: 0.9rem;
  font-style: italic;
  color: darkgrey;
} */

/* #endregion */

/* #region Resume -- Column 1 -- Interests & Hobbies */

section#interests_and_hobbies {
  /* Set position sticky with a bit of "space" on last section of 
      Column 1 to keep it in view while scrolling remaining 
      job history / experience text. */
  position: sticky;
  top: 10px;
}

section#interests_and_hobbies h3 {
  font-family: "Gothic A1", "Century Gothic", “Apple Gothic”, AppleGothic,
    “URW Gothic L”, “Avant Garde”, Futura, sans-serif;
}

div#container--currently_studying_icons_and_text {
  position: relative;
  display: inline-block;
  width: 63px;
  height: 35px;
}

div#container--currently_studying_icons_and_text img,
div#container--currently_studying_icons_and_text span {
  position: absolute;
}

div#container--currently_studying_icons_and_text img {
  width: 20px;
  height: 20px;
}

div#container--currently_studying_icons_and_text img:first-of-type {
  top: 0;
  left: 2px;
}

div#container--currently_studying_icons_and_text img:nth-of-type(2) {
  top: 0;
  left: 40px;
}

div#container--currently_studying_icons_and_text span {
  position: absolute;
  top: 20px;
  left: 2px;
  text-transform: uppercase;
}

/* section#interests_and_hobbies li span {
  display: block;
} */

/* section#interests_and_hobbies li div img {
  display: inline-block;
  width: 20px;
  height: 20px;
} */

/* #endregion */

/* #endregion */

/* #region Resume -- Column 2 */

div#container--resume-col_2_wrapped section#experience {
  /* Put white space between wrapped Objective & Exeperience resume sections. 
        For some reason, I wasn't able to apply margin-bottom to 
        the Objective section & had to settle for this inconsistent implementation
         (i.e. applying top margin to the proceeding section rather than bottom margin
         to the preceding section) after I spent time attempting to debug. */
  margin-top: 30px;
}

/* Bump up font size on Experience list items. */
div.container--resume-col_2 li.resume_section_list_item {
  font-size: var(--font_size__bullets-col_2);
}

/* #region Resume -- Column 2 -- Experience */

section#experience {
  padding-right: 10px;
}

section#experience h2 {
  margin-bottom: 25px;
}

/* Custom Styling for Experience job titles, employers, & dates */
section#experience span.job_title {
  display: inline-block;
  /* This is an admittedly "brittle" value set to prevent job titles from overflowing
        their containers on very small smparthone screens. */
  width: 17ch;
  border-top: 2px solid var(--light_grey);
  border-left: 2px solid var(--light_grey);
  border-right: 2px solid var(--light_grey);
  box-shadow: 1px 0px 2px 1px var(--darkest_grey);
  padding-left: 5px;
  font-family: "Gothic A1", "Century Gothic", “Apple Gothic”, AppleGothic,
    “URW Gothic L”, “Avant Garde”, Futura, sans-serif;
  font-size: var(--font_size__job_titles);
  font-weight: var(--font_weight__job_titles);
  /* High Contrast Complimentary Color for Job Title "tab". */
  /* background: #00ffff; */
  /* Subtle Texture SVG BG for Job Title "tab". */
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNiIgaGVpZ2h0PSI2Ij4KPHJlY3Qgd2lkdGg9IjYiIGhlaWdodD0iNiIgZmlsbD0iI2VlZSI+PC9yZWN0Pgo8ZyBpZD0iYyI+CjxyZWN0IHdpZHRoPSIzIiBoZWlnaHQ9IjMiIGZpbGw9IiNlNmU2ZTYiPjwvcmVjdD4KPHJlY3QgeT0iMSIgd2lkdGg9IjMiIGhlaWdodD0iMiIgZmlsbD0iI2Q4ZDhkOCI+PC9yZWN0Pgo8L2c+Cjx1c2UgeGxpbms6aHJlZj0iI2MiIHg9IjMiIHk9IjMiPjwvdXNlPgo8L3N2Zz4=");
  /* background-color: #00bb77;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23000' fill-opacity='.1' points='120 0 120 60 90 30 60 0 0 0 0 0 60 60 0 120 60 120 90 90 120 60 120 0'/%3E%3C/svg%3E");
  color: white; */
  /* Dark Grey Lined SVG BG for Job Title "tab". */
  /* background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4="); */
}

section#experience span.employer {
  display: inline-block;
  align-self: flex-end;
  /* max-width: var(--max-width__employer); */
  /* margin-bottom: 25px; */
  margin-top: 2.5px;
  padding-bottom: 15px;
  padding-left: 5px;
  font-family: "Gothic A1", "Century Gothic", “Apple Gothic”, AppleGothic,
    “URW Gothic L”, “Avant Garde”, Futura, sans-serif;
  font-size: var(--font_size__employer);
  font-weight: var(--font_weight__employer);
  color: var(--light_grey);
}

section#experience span.resume_dates {
  display: inline-block;
  /* Use align-self to ensure jobe title remains flush with solid border line when 
        dates wrap. */
  align-self: flex-end;
  text-align: right;
  font-size: var(--font_size__dates);
  padding-bottom: 2.5px;
  padding-right: 5px;
}

/* Custom styling of unordered lists with job responsibilities. */
section#experience ul.resume_section_list {
  /* background: #f7f6f6; */
  /* background: var(--light_grey); */
  background: #f7f6f6;
  border-radius: 0px 0px 10px 10px;
  border: 1px solid var(--dark_grey);
  padding: 5px;
  margin-bottom: 25px;
  list-style: square;
}

/* #endregion Resume -- Column 2 -- Experience*/

/* #endregion Resume -- Column 2 */

/* #region Resume -- Columns 1 & 2 */

/* #region Resume -- Columns 1 & 2 -- Projects & Side Hustles & Experience */

div.resume_flex_title_and_date_wraps {
  /* Wraps job/project/side hustle titles & date. */
  display: flex;
  align-items: flex-end;
  /* flex-wrap: wrap; */
  /* Pushes dates to far-right of column. */
  justify-content: space-between;
  border-bottom: 2px solid var(--darkest_grey);
}

div.resume_flex_title_and_date_wraps > * {
  max-width: initial;
  width: 50%;
}

/* #endregion Resume -- Columns 1 & 2 -- Projects & Side HUstles & Experience */

/* #endregion */

/* #region Utility Classes */

/* Used this to "unbold" parenthetical comments in "stack" bullet points. */
span.resume_deemphasize {
  font-weight: 500;
}

/* #endregion Utility Classes */

/* #region Media Queries */

/* "Default" settings to hide "wrapped" & show "unwrapped" resume elements prior to @media query changes.

      Implementation logic here is simple: 
      
      When resume is show as a single column, section-over-section 
      document, you I want Experience (which appears in the right-hand "second" column on larger screens,
      to be the topmost section.  */

div#container--resume-col_2_unwrapped,
section#objective_unwrapped {
  display: initial;
}

div#container--resume-col_2_wrapped,
section#objective_wrapped {
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 1079px) {
  /* Set resume column width custom variable to 100% at breakpoint where right-hand column / column 2 wraps. */
  :root {
    --width__container--resume-col_1: 100%;
    --width__container--resume-col_2: 100%;
  }
  main#my_work--resume {
    /* Add margin to left & right of main element to create "gutters" &
          allow me to use margin: 25px auto to center resume's outermost container. */
    margin-right: 15px;
    margin-left: 15px;
  }

  div.resume--container--header_and_columns {
    /* Pseudo-"freeze" resume's width from 1079px to 835px to 835px &
          Center resume's outermost container.  NOTE: Resume will resize arís at 
          835px width breakpoint.*/
    width: initial;
    max-width: 835px;
    margin: 25px auto;
  }

  div#container--resume-col_2_unwrapped,
  section#objective_unwrapped {
    /* Hide "unwrapped" elements on Flex wrap. */
    display: none;
  }

  div#container--resume-col_2_wrapped,
  section#objective_wrapped {
    /* Reveal "wrapped" elements on Flex wrap. */
    display: initial;
  }

  div.container--resume-col_2 {
    /* Remove top-margin from container--resume-col_2 class (shared by both 
          wrapped & unwrapped columns) to ensure objective is flush with header. */
    margin-top: 0px;
  }

  div.container--resume-col_2 {
    /* Set min-width & width to 100% and remove left margin to ensure 
        resume sections "stretch" across whole of parent container. */
    min-width: var(--width__container--resume-col_2);
    width: var(--width__container--resume-col_2);
  }

  div.container--resume-col_1 {
    /* set min-width & width to 100% to ensure resume sections "strech" across 
          whole of parent container. */
    min-width: var(--width__container--resume-col_1);
    width: var(--width__container--resume-col_1);
    padding-left: 0px;
  }

  div.resume_section_with_bullets {
    /* Re-declare padding on resume sections with bullets to create "gutters" on either side of 
        text on smaller screens & enhance legibility. */
    padding: 0px 15px;
  }

  section#experience {
    padding-right: 0px;
  }

  section#skills li {
    flex-wrap: wrap;
  }

  section#skills li span:first-of-type {
    width: 50%;
    text-align: left;
  }

  section#skills li span:nth-of-type(2) {
    text-align: right;
    width: 50%;
  }

  section#skills li span:nth-of-type(3) {
    max-width: none;
    width: 100%;
  }

  span.resume_section_list_item_icons {
    display: block;
    flex-grow: 1;
    width: 100%;
  }
}

@media screen and (min-width: 0px) and (max-width: 835px) {
  div.resume--container--header_and_columns {
    /* Pseudo-"freeze" resume's width from 835px to 635px. 
          Resume will shrink to fit screen below 635px. */
    width: initial;
    max-width: 635px;
  }

  div.resume--container--header_and_columns h1 span.clean_break_on_wrap {
    /* Force "Mac Gabhann" to wrap from a screen width of 835px down to 
        ensure enough white space remains between the "Mac Gabhann" and 
        the PDF icon on smaller screens. */
    display: block;
  }

  header#resume_header div.header_contact_info span {
    display: none;
  }

  section#experience span.job_title {
    font-size: calc(var(--font_size__job_titles) * 0.85);
  }

  section#experience span.resume_dates {
    font-size: calc(var(--font_size__dates) * 0.85);
  }

  section#projects_and_side_hustles span.side_hustle {
    /* This code doesn't have to be here - it's actually redundant - but it serves
        to remind me that, below 835px, I align the font sizes for job & side hustle
        titles & dates. */
    font-size: calc(var(--font_size__job_titles) * 0.85);
  }

  section#projects_and_side_hustles span.resume_dates {
    /* This code doesn't have to be here - it's actually redundant - but it serves
        to remind me that, below 835px, I align the font sizes for job & side hustle
        titles & dates. */
    font-size: calc(var(--font_size__dates) * 0.85);
  }
}

@media screen and (min-width: 0px) and (max-width: 725px) {
  header#resume_header h1 {
    font-size: calc(var(--font_size__header_name) * 0.75);
  }
}

@media screen and (min-width: 0px) and (max-width: 545px) {
  section#experience span.resume_dates span.clean_break_on_wrap,
  section#projects_and_side_hustles span.resume_dates span.clean_break_on_wrap {
    /* Synchronize styling of dated resume actions on wrap, 
        ensure end date (i.e. start date - end date) string wraps as a single "element" for increased legibility. */
    display: block;
    padding-right: 10px;
  }
}

@media screen and (min-width: 0px) and (max-width: 490px) {
  section.resume_section h2 {
    font-size: calc(var(--font_size__section_titles) * 0.85);
  }
}

@media screen and (min-width: 0px) and (max-width: 465px) {
  /* Change width of skill family (e.g. "Web Dev") & skill family members
        (e.g. "Vanilla JavaScript") on smaller screens to prevent unsightly wrap
         of text in second span. */
  section#skills li span:first-of-type {
    width: 30%;
    text-align: left;
  }

  section#skills li span:nth-of-type(2) {
    text-align: right;
    width: 70%;
  }
}

@media screen and (min-width: 0px) and (max-width: 525px) {
  section.resume_section h2 {
    /* Turn h2 elements into flex boxes on smaller screen to prevent unsightly wrapping of
        resume section headers. */
    display: flex;
    align-items: center;
  }

  section#courses_and_certifications h2 span:first-of-type,
  section#projects_and_side_hustles h2 span:first-of-type,
  section#interests_and_hobbies h2 span:first-of-type {
    /* Kind of hacky but this explicitly set height insures that the single-character black
          'sidebar' next to resume section headings streches across the entire red background
          for section headings that wrap. */
    height: 72px;
  }

  section#experience ul ul li,
  section#projects_and_side_hustles ul ul li {
    /* Removes "excess" padding from megaphone & stack nested bullets 
        on very small screens for improved legibility. */
    padding: 0px;
  }

  /* Resizes job title by fixed percent ('var(--small_phone_scaledown'). */
  section#experience span.job_title {
    font-size: calc(
      var(--font_size__job_titles) * var(--small_phone_scaledown)
    );
  }

  /* Resizes employer by fixed percent ('var(--small_phone_scaledown'). */
  section#experience span.employer {
    font-size: calc(var(--font_size__employer) * var(--small_phone_scaledown));
  }

  /* First of two CSS rules that reduce size of text in each resume section with a font-size of
      'var(--font_size__col_1_titles)' by a fixed percent ('var(--small_phone_scaledown). */
  section#education
    ul.resume_section_list
    li.resume_section_list_item
    span:first-of-type,
  section#courses_and_certifications
    ul.resume_section_list
    li.resume_section_list_item
    span:first-of-type,
  section#skills
    ul.resume_section_list
    li.resume_section_list_item
    span:first-of-type {
    font-size: calc(
      var(--font_size__col_1_titles) * var(--small_phone_scaledown)
    );
  }
  /* Second of two CSS rules that reduce size of text in each resume section with a font-size of
      'var(--font_size__col_1_titles)' by a fixed percent ('var(--small_phone_scaledown). */
  section#projects_and_side_hustles span.side_hustle,
  section#interests_and_hobbies
    div.resume_section_with_bullets
    > span:first-of-type {
    font-size: calc(
      var(--font_size__col_1_titles) * var(--small_phone_scaledown)
    );
  }

  section#education ul.resume_section_list li.resume_section_list_item {
    /* Turn on Education section flex box's flex-wrap on smaller screens. */
    flex-wrap: wrap;
  }

  /* The following two CSS style rules reflow the Education section's flexbox items to enhance 
      legibility on smaller screens by splitting data into two rows, a first row with three "columns" 
      (degree, university, & matriculation years) and a second row with one "column" (degree concentration). */

  section#education
    ul.resume_section_list
    li.resume_section_list_item
    span:first-of-type {
    width: 20%;
  }

  section#education
    ul.resume_section_list
    li.resume_section_list_item
    span:nth-of-type(3),
  section#education
    ul.resume_section_list
    li.resume_section_list_item
    span:nth-of-type(4) {
    width: 40%;
  }

  /* Hide degree major/concentration span displayed on larger screens. */
  section#education
    ul.resume_section_list
    li.resume_section_list_item
    span:nth-of-type(2) {
    display: none;
  }

  /* Unhides & styles degree major/concentration span on smaller screens. */
  section#education
    ul.resume_section_list
    li.resume_section_list_item
    span:nth-of-type(5) {
    display: initial;
    min-width: 100%;
    text-align: right;
    margin-top: 10px;
    font-size: 0.8rem;
    font-style: italic;
    color: var(--dark_grey);
  }
  /* Reposition explanatory Irish Studies "hover text" to accomodate reflowed flex box. */
  span#resume_hover_text--irish_studies {
    top: 0px;
    left: -232px;
  }
}

/* #endregion Media Queries */
